<!DOCTYPE html>
<html>
<head>
  {{> head}}
</head>
<body>
	{{> header}}

	<section class="section disable" id="section-overview">
		{{> overview}}
	</section>

	<section class = "section disable" id="section-focus">
		{{> focus}}
	</section>

	<section class = "section disable" id="section-bubble">
		{{> bubble}}
	</section>
</body>
{{> footer}}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src = "src/Semantic-UI/semantic.min.js"></script>
<script type="text/javascript" src = "src/Semantic-UI-Calendar/dist/calendar.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="{{path}}src/d3.slider.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/G.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/index.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/overview.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/focus.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/bubble.js"></script>
<script type="text/javascript">
  G.initPage();
</script>
</html>
