<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  
  {{> head}}

  <title> {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/index.css">

</head>
<body>
	{{> header}}

	<section class = "section" id = "overview">
		{{> overview}}
	</section>

	<section class = "section disable" id = "focus">
		{{> focus}}
	</section>

	<section class = "section disable" id = "counts">
		counts
	</section>

<!-- <img src = "{{path}}dist/img/color.jpg"> -->

</body>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
<script type="text/javascript" src = "{{path}}src/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src = "js/G.js"></script>

<script type="text/javascript" src = "{{path}}dist/js/index.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/focus.js"></script>
<script type="text/javascript" src = "{{path}}dist/js/overview.js"></script>
</html>